<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>Welcome to<br />
											Exchange Students Community</h1>
											
										</header>
										<p>This service is for two groups of students. <br /> 1) Korean students who are preparing for Exchange Student Program abroad <br /> For these students, we have a "Review" page and a "Question" page <br />2)Foreign exhange students and Korean students who are seeking for a community in Korea <br /> For these students, we have a "Share Info" page, a "Matching Groups" page and a "Clubs" page. <br /> For further informations</p>
										<ul><a href="/" class="button primary fit">Learn More</a></ul>
									    <ul><a href='/notice/home_notice' class="button primary fit">Notice</a></ul>
										
									</div>
									<span class="image object">
										<%= image_tag("main.jpg", :alt => "nothing") %>
									</span>
								</section>
								
								<section>
									
									<div class="posts">
										<article>
											<header class="major">
											<h2>Exchange Program Prep</h2>
											</header> <br />
											<ul><a href='/review/home_review' class="button primary fit">Review</a></ul>
											
											<ul><a href='/question/home_question' class="button primary fit">FAQ</a></ul>
											 <br /><br /><br /><br />
										</article>
										<article>
											<header class="major">
											<h2>Community</h2>
											</header>
											<ul><a href='/info/home_info' class="button primary fit">Sharing Info</a></ul>
											
											<ul><a href='/matching/home_matching' class="button primary fit">Matching Groups</a></ul>

											<ul><a href='/club/home_club' class="button primary fit">Clubs</a></ul>
											<br /><br /><br /><br />
										</article>
										
									</div>
								</section>