<br/>
<div class="box">
<h3>Edit your post</h3>
<form action="/review/update_review/<%= @review.id %>/" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  Title : <input type="text" name="review[title]" value="<%= @review.title %>"><br />
  Content : <textarea name="review[content]" rows="8" cols="80"><%= @review.content%></textarea><br />
  <span class="image right"><input type="submit" value="Submit"></span>
</form>
<br/><br/>
</div>