<h1>후기 작성페이지 입니다</h1>
<a href="/review/new_review"> 새 글 쓰기 </a></br></br>

<% @reviews.each do |p|%>
<a href="/review/index_review/<%=p.id %>"> <%= p.title %></a>
<% end %>



<div class="search-container">
  <form action="/action_page.php">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit">Submit</button>
  </form>
</div>