<h1>질문 게시판 입니다</h1>
<a href="/question/new_question">새 글쓰기</a></br></br>


<% @questions.each do |p|%>
 <a href="/question/index_question/<%=p.id%>"><%=p.title%></a> 
<% end %>


<div class="search-container">
  <form action="/action_page.php">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit">Submit</button>
  </form>
</div>