<h1>수정 화면</h1>
<form action="/notice/update_notice/<%= @notice.id %>/" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  제목 : <input type="text" name="notice_title" value="<%= @notice.title %>"><br />
  내용 : <textarea name="notice_content" rows="8" cols="80"><%= @notice.content%></textarea><br />
  <input type="submit" value="제출">
</form>
